<!DOCTYPE html>
<html>
	{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
  <title>MOVIROMA</title>
  
  <link rel="stylesheet" type="text/css" href="{% static "css/home_login_ana.css" %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	{% load crispy_forms_tags %}
	<div class="home_main">
		<div class="home_sol">
			
			<img src="{% static "img/signup_photo.png" %}">
		</div>
		<div class="home_sag">
			<div class="home_sag_top">
				<div class="logo">
					<img src="{% static "img/logo.png" %}">
				</div>
				<div class="signup_form_main">
					

					<form method="POST" class="from-group">
				   {% csrf_token %}
				   <!-- {{form.as_p}}  -->
				 {{ form.non_field_errors }}
				 <div class="fieldWrapper1">
					{{ form.username.errors }}

					{{ form.username }}
				</div>
				<div class="fieldWrapper2">
					{{ form.password.errors }}

					{{ form.password }}
				</div>
				   <button type="submit" class="signup_button_home">Login</button>	
				   </form>
					<hr style="width:100%;text-align:left;margin-left:0">
					<h2><a href="#">Şifreni mi unuttun?</a></h2>
				</div>
			</div>
			<div class="home_sag_bottom">
				<h2>Hesabın yok mu? <a href="/register">KAYDOL</a></h2>
			</div>
		</div>
	</div>
</body>
</html>