<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

	<link rel="stylesheet" type="text/css" href="{% static "css/yonetmen_page.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/search_page.css" %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

	<title>USER SAYFASI</title>
</head>
<body>
	<section class="header_section">
		<div class="header_main_container">
			<div class="header">
				<div class="header_left">
					<div class="menu_bar"><img src="{% static "img/bars-solid.svg" %}"></div>
					<div class="logo_div">
						<a href="/home"><img src="{% static "img/moviroma_logo.svg" %}"></a>
					</div>
				</div>
				<div class="header_middle">
					<div class="searchbox_div">
						<form method='GET' action={% url 'search' %}>
							<input type="text" id="fname" name="q" placeholder="Ara">
							<button class="search_button" value="{{ query|escape }}" type="submit"><a href="#"><img src="{% static "img/search-solid.svg" %}"></a></button>
						</form>
					</div>
				</div>
				<div class="header_right">
					<div class="user_menu">
						<div class="dropdown">
							<button class="dropbtn" type="submit" style="border: 0; background: transparent">
							   <img src="{% static "img/user_default_icon.svg" %}" width="30" height="30" alt="submit" />
						   </button>
							 <div class="dropdown-content">
							   <a href="/users/{{currentuser.id}}" >Profile</a>
								  <a href="#">Settings</a>
							   <a href="/logout">Logout</a>
							 </div>
					   </div>	
				   </div>
				</div>
			</div>
		</div>
	</section>
	<section class="search_content">
		<div class="search_main_container">
		<div class="search_left">
			<div class="search_result_box">
				<span class=search_result_box_top><h3>Search result</h3></span>
				<span class="search_result_box_bottom">
					<div class="search_result_type">
						<span class="search_result_type_1"><img src="{% static "img/director_icon.svg" %}"></span>
						<span class="search_result_type_2"><a href="#">Director</a></span>
						<span class="search_result_type_3"><img src="{% static "img/search_number_circle.svg" %}" alt="Snow" style="width:30px; height:30px;"><div class="centered">{{numberofsearchedperson}}</div>
						</span>
					</div>
					<div class="search_result_type">
						<span class="search_result_type_1"><img src="{% static "img/film_icon.svg" %}"></span>
						<span class="search_result_type_2"><a href="/searchmovie/?q={{search}}">Movie</a></span>
						<span class="search_result_type_3"><img src="{% static "img/search_number_circle.svg" %}" alt="Snow" style="width:30px; height:30px;"><div class="centered">{{numberofsearchedmovie}}</div>
						</span>
                    </div>
                    <div class="search_result_type">
						<span class="search_result_type_1"><img src="{% static "img/director_icon.svg" %}"></span>
						<span class="search_result_type_2"><a href="/searchuser/?q={{search}}">User</a></span>
						<span class="search_result_type_3"><img src="{% static "img/search_number_circle.svg" %}" alt="Snow" style="width:30px; height:30px;"><div class="centered">{{numberofsearcheduser}}</div>
						</span>
					</div>
				</span>
			</div>
		</div>
		<div class="search_right">
			<div class="searched_content">
				{% for item in searcheduser %}
				<div class="searched_content_component" name="searched_directors">
					<span class="searched_content_component_left"><img src="{% static "img/user_default_icon.svg" %}"></span>
					<span class="searched_content_component_right">
						<span class="right_1"><a href="{% url 'userview' id=item.id %}" >{{item.username}}</a></span>
						<span class="right_2">User</span>
					</span>
				</div>
				{% endfor %}
			</div>
		</div>
		</div>
	</section>
</body>
</html>