<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" type="text/css" href="{% static "css/yonetmen_page.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/deneme.css" %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

	<title>{{person.yonetmen_ad}}</title>
</head>
<body>
	<section class="header_section">
		<div class="header_main_container">
			<div class="header">
				<div class="header_left">
					<div class="menu_bar"><img src="{% static "img/bars-solid.svg" %}"></div>
					<div class="logo_div">
						<a href="/home"><img src="{% static "img/moviroma_logo.svg" %}"></a>
					</div>
				</div>

				
				
				<div class="header_middle">
					<div class="searchbox_div">
						<form method='GET' action={% url 'search' %}>
							<input type="text" id="fname" name="q" placeholder="Ara">
							<button class="search_button" value="{{ query|escape }}" type="submit"><a href="#"><img src="{% static "img/search-solid.svg" %}"></a></button>
						</form>
					</div>
					<!-- <div class="searchbox_div">
						<form method='GET' autocomplete="off" action={% url 'search' %}>
							<div class="autocomplete" style="width:300px;">
							<input type="text" id="fname" name="q" placeholder="Ara">
						</div>
							<button class="search_button" value="{{ query|escape }}" type="button"><a href="#"><img src="{% static "img/search-solid.svg" %}"></a></button>
						</form>
					</div> -->
					<ul>
						{% for item in searchedperson %}
							<li><a href="{% url 'directorview' id=item.pk %}" style="color: white;">{{ item.yonetmen_ad }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="header_right">
					<div class="user_menu">
						 <div class="dropdown">
						 	<button class="dropbtn" type="submit" style="border: 0; background: transparent">
    							<img src="{% static "img/user_default_icon.svg" %}" width="30" height="30" alt="submit" />
							</button>
  							<div class="dropdown-content">
    							<a href="/users/{{currentuser.id}}" >Profile</a>
   								<a href="#">Settings</a>
    							<a href="/logout">Logout</a>
  							</div>
        				</div>	
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content_section">
		<div style="background-image: url('http://image.tmdb.org/t/p/original{{latestmovie.film_backdrop_linki}}');"class="director_top_main">
			<div class="director_pp">
				<img src="http://image.tmdb.org/t/p/original{{person.yonetmen_pp_linki}}">
			</div>
			<div class="director_verified">
				<h5>DIRECTOR</h5>
			</div>
			<div class="director_name">
				<h4>{{person.yonetmen_ad}}</h4>
			</div>
			<div class="director_buttons">
					{% if person.yonetmen_ad in likeddirectors %}
					<button class="button_blue"><a href="/directors/ud/{{person.yonetmen_tmdb_id}}"><img src="{% static "img/like-red.svg" %}"></a></button>
					{% else %}
					<button class="button_blue"><a href="/directors/ld/{{person.yonetmen_tmdb_id}}"><img src="{% static "img/add_fav_icon.svg" %}"></a></button>
					{% endif %}
					<button class="button_blue"><a href="#"><img src="{% static "img/more_icon.svg" %}"></a></button>		
			</div>
		</div>
		<div class="director_submenu">
			<ul>
				<li><a class="submenu_selected" href="#">Overview</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Fans also like</a></li>
				<li><a href="#">Vision</a></li>
			</ul>
		</div>
		<div class="director_main_content">
			<div class="main_content_top_left">
				<h2>Popular</h2>
				<div class="director_popular_film_main">
				</br>
					{% for item in movies %}
					<div class="director_popular_film_component">
						<div class="popular_film_compenent_1"><img src="http://image.tmdb.org/t/p/original{{item.film_poster_linki}}"></div>
						<div class="popular_film_compenent_2"><h6>{{ forloop.counter }}</h6></div>
						{% if item.film_title in likedmovies %}
						<div class="popular_film_compenent_3"><a href="{% url 'unlikemovie' id=person.pk id1=item.film_tmdb_id %}"><img src="{% static "img/like-red.svg" %}"></a></div>
						{% else %}
						<div class="popular_film_compenent_3"><a href="{% url 'likemovie' id=person.pk id1=item.film_tmdb_id %}"><img src="{% static "img/add_fav_icon.svg" %}"></a></div>
						{% endif %}
						<div class="popular_film_compenent_4"><a href="{% url 'movieview' id=item.film_tmdb_id %}">{{item.film_title}}</a></div>
						<div class="popular_film_compenent_5">{{item.film_tmdb_rating}}</div>
					</div>
					{% endfor %}

				</div>
				<div class="popular_film_button_div">
					<form>
						<button class="popular_film_button"><a href="#">Show more film</a></button>
					</form>
				</div>
			</div>
			<div class="main_content_top_right">
				<div class="latest_from_artist">
					<div class="latest_from_artist_1"><h2>LATEST FROM ARTIST</h2></div>
					<div class="latest_from_artist_2"><a href="/movies/{{latestmovie.film_tmdb_id}}"><img src="http://image.tmdb.org/t/p/original{{latestmovie.film_poster_linki}}"></a></div>
					<div class="latest_from_artist_3"><a href="/movies/{{latestmovie.film_tmdb_id}}"><h3>{{latestmovie.film_title}}</h3></a></div>
					<div class="latest_from_artist_4"><h4>{{latestmovie.film_yayinlanma_tarihi}}</h4></div>
				</div>
			</div>
			<div class="main_content_bottom">
				<div class="filmography_main">
					<h2>Filmography</h2>
					{% for item in movies %}
					<div class="filmography_component">
						<div class="fcomponent_left"><a href="{% url 'movieview' id=item.film_tmdb_id %}"><img src="http://image.tmdb.org/t/p/original{{item.film_poster_linki}}"></a></div>
						<div class="fcomponent_right">
							<div class="fcomponent_right_1"><a href="{% url 'movieview' id=item.film_tmdb_id %}">{{item.film_title}}</a></div>
							<div class="fcomponent_right_2">{{item.film_aciklamasi}}
							</div>
							<div class="fcomponent_right_3">
								{% if item.film_title in likedmovies %}
								<div class="fcomponent_right_bottom_1"><button class="button_blue"><a href="{% url 'unlikemovie' id=person.pk id1=item.film_tmdb_id %}"><img src="{% static "img/like-red.svg" %}"></a></button></div>
								{% else %}
								<div class="fcomponent_right_bottom_1"><button class="button_blue"><a href="{% url 'likemovie' id=person.pk id1=item.film_tmdb_id %}"><img src="{% static "img/add_fav_icon.svg" %}"></a></button></div>
								{% endif %}
								<div class="fcomponent_right_bottom_2"><button class="button_blue"><a href="#"><img src="{% static "img/more_icon.svg" %}"></a></button></div>
								<div class="fcomponent_right_bottom_3"><button class="button_blue_large">
									<a href="#">{{item.film_suresi}} minute</a>
								</button></div>
								<div class="fcomponent_right_bottom_4"><button class="button_blue_large2">
									<a href="">Community Rating: {{item.film_tmdb_rating}}</a>
								</button></div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
	</section>

	
</body>
</html>