:root{
	--mainLightBlue: #A8DADC;
	--mainLightYellow: #F1FAEE;
	--mainDarkBlue: #1D3557;
;
}


body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: #F1FAEE;
}

.header_section{
	background-color: var(--mainLightBlue);
	overflow:visible;
}

.header_main_container{
	width: 100%;
	margin: 0 auto;
}

.header{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'header-left header-middle header-right';
	grid-template-rows: 3em;
}

.header_left{
	grid-area: header-left;
	padding-left: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu_bar img{
	width: 20px;
	height: 17.5px;
}

.logo_div{
	margin-left: 20px;
}

.logo_div img{
	width: 22px;
	height: 26.29px
}

.header_middle{
	grid-area: header-middle;
	float:left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.searchbox_div{
	width: 100%;
	height: 30px;
}


input[type=text] {
	background-color: #F1FAEE;
	font-size: 16px;
	height: 100%;
	width: 85%;
	border:none;
	padding: 0px;
	margin: 0px;
	float:left;
}

.search_button{
	background-color: #1D3557;
	text-align: center;
	text-decoration: none;
	border:none;
	height: 100%;
	width: 15%;
	margin: 0px;
	padding: 0px;
	float: left;
}

.searchbox_div form{
    display: flex;
    height: 100%;
    width: 100%;
}

.search_button a{
	text-decoration: none;
	color: #F1FAEE;
}

.search_button a img{
	width: 80%;
	height: 50%;
	margin-top: 0.2em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #1D3557;
	opacity: 1; /* Firefox */
}


.header_right{
	grid-area: header-right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 40px;
}


.header_right .user_menu {
}

.header_right .right_top_menu img{
	width: 20px;
	height: 22.86px
}

.content_section{
	display: grid;
	grid-template-areas: 
					'director_top_main'
					'director_submenu'
					'director_main_content'
					;
	justify-content: center;
}

.director_top_main{
	width: 1200px;
	height: 385px;
	background-repeat: no-repeat;
  	background-size: 1200px 385px;
	background-color: red;
	display: grid;
	grid-template-areas: 
					'director_pp'
					'director_verified'
					'director_name'
					'director_buttons'
					;
	grid-template-rows: 4fr 0.1fr 2fr 1fr;
}

.director_pp{
	grid-area: director_pp;
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
}

.director_pp img{
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 5px solid #A8DADC;
	border-radius: 200px;
}

.director_verified{
	grid-area: director_verified;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.director_verified h5{
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #F1FAEE;
}


.director_name{
	grid-area: director_name;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.director_name h4{
	padding: 0px;
	margin:0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #F1FAEE;
}

.director_buttons{
	grid-area: director_buttons;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.button_blue{
	background: #1D3557;
	width: 90px;
	height: 35px;
	border-radius: 35px;
	border: 3px solid #F1FAEE;
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.button_blue_1{
	background: #1D3557;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	border: 3px solid #F1FAEE;
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.button_blue a p{
	color:white;
	text-align: center;
	margin: auto;
  	/* -webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */

}



.director_submenu{
	grid-area: director_submenu;
	height: 35px;
	width: 100%;
	background-color: #A8DADC;
	border-bottom: 2px solid #F1FAEE;
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.director_submenu ul li{
	list-style-type: none;
	margin-right: 150px;
	padding: 0px;
	float:left;
	text-align: center;
}

.director_submenu ul li a{
	text-decoration:none;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #F1FAEE;
	display: block;
}

.director_submenu ul li a.submenu_selected{
	text-decoration:none;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #1D3557;
	display: block;
}

.director_submenu ul li a:hover{
	color: #1D3557;
}


.main_content_top_left{
	grid-area: main_content_top_left;
	height: 400px;
}

.main_content_top_right{
	grid-area: main_content_top_right;
	height: 450px;
}

.main_content_bottom{
	grid-area: main_content_bottom;
	background-color: #A8DADC;
	height: 1000px;
	padding-left: 100px;
	padding-top: 30px;
}


.director_main_content{
	width: 100%;
	height:1000px;
	background-color: #A8DADC;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
						'main_content_top_left main_content_top_left main_content_top_right'
						'main_content_bottom main_content_bottom main_content_bottom';
}


.main_content_top_left{
	margin-top: 30px;
	margin-left: 100px;
	height: auto;
}
.main_content_top_left h2{
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #1D3557;
}

.popular_film_compenent_1{
	grid: popular_film_component_1;
}


.popular_film_compenent_1 img{
	width: 30px;
	height: 46px;
}
.popular_film_compenent_2{
	grid: popular_film_component_2;
	text-align: center;
	display: grid;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #1D3557;

}

.popular_film_compenent_3{
	grid: popular_film_component_3;
	display: grid;
	align-items: center;
	align-content: center;
}

.popular_film_compenent_3 a img svg{
	align-items: center;
	align-content: center;
	background-color: #1D3557;
}


.popular_film_compenent_4{
	grid: popular_film_component_4;
	display: grid;
	align-items: center;
	justify-content: flex-start;
}

.popular_film_compenent_4 a{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #1D3557;
	text-decoration: none;
}

.popular_film_compenent_5{
	grid: popular_film_component_5;
	display: grid;
	align-items: center;
	justify-content: flex-end;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #1D3557;
}



.director_popular_film_component{
	width: 500px;
	height: 46px;
	border-top: 1px solid rgba(29, 53, 87, 0.1);
	display: grid;
	grid-template-columns: 0.2fr 0.4fr 0.3fr 3fr 1fr;
	grid-template-areas:
						'popular_film_component_1 popular_film_component_2 popular_film_component_3 popular_film_component_4 popular_film_component_5'
}

.popular_film_compenent_2 h6{
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #1D3557;
	margin: 0 auto;
}


.popular_film_button{
	width: 120px;
	height: 40px;
	background: #1D3557;
	border: 3px solid #F1FAEE;
	border-radius: 20px;
	box-sizing: border-box;
	margin-top: 30px;
	text-align: center;
}

.popular_film_button a{
	color: #F1FAEE;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

.latest_from_artist{
	display: grid;
	align-items: center;
	justify-content: center;
}

.latest_from_artist_1 h2{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 21px;
	text-align: center;
	color: #1D3557;
	font-weight: bold;
	margin-top: 30px;
}

.latest_from_artist_2{
	display: grid;
	align-items: center;
	justify-content: center;
}

.latest_from_artist_2 img{
	border: 1px solid #F1FAEE;
	box-sizing: border-box;
	width:176px;
	height: 264px;
}

.latest_from_artist_3 h3{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #1D3557;		
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-top: 10px;
}

.latest_from_artist_4 h4{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #5A6575;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}

.filmography_main h2{
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #1D3557;
}

.fcomponent_left{
	grid-area: fcomponent_left;
}

.fcomponent_left img{
	width:167px;
	height: 250px;
}


.fcomponent_right{
	grid-area: fcomponent_right;
	display: grid;
	grid-template-areas: 
						'fcomponent_right_1'
						'fcomponent_right_2'
						'fcomponent_right_3';
	grid-template-rows: 2fr 6fr 2fr;
}

.filmography_component{
	margin-top: 50px;
	width: 960px;
	height: 250px;
	display: grid;
	grid-template-columns: 1.053fr 5fr;
	grid-template-areas: 'fcomponent_left fcomponent_right'
}

.fcomponent_right_1{
	grid-area: fcomponent_right_1;
	display: grid;
	align-items: center;
	justify-content: flex-start;
	padding-left: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #1D3557;
}

.fcomponent_right_2{
	grid-area: fcomponent_right_2;
	display: grid;
	align-items: center;
	justify-content: flex-start;
	padding-left: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.25px;
	text-transform: capitalize;
	color: #1D3557;
}

.fcomponent_right_3{
	grid-area: fcomponent_right_3;
	display: grid;
	grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
	grid-template-areas: 'fcomponent_right_bottom_1 fcomponent_right_bottom_2 fcomponent_right_bottom_3 fcomponent_right_bottom_4'
}

.fcomponent_right_bottom_1{
	grid-area: fcomponent_right_bottom_1;
	margin-left: 20px;
}

.fcomponent_right_bottom_2{
	grid-area: fcomponent_right_bottom_2;
}

.fcomponent_right_bottom_3{
	grid-area: fcomponent_right_bottom_3;
}

.fcomponent_right_bottom_4{
	grid-area: fcomponent_right_bottom_4;
}

.button_blue_large{
	background: #1D3557;
	width: 110px;
	height: 35px;
	border-radius: 35px;
	border: 3px solid #F1FAEE;
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.button_blue_large a{
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.25px;
	text-transform: capitalize;
	color: #F1FAEE;
}


.button_blue_large2{
	background: #1D3557;
	width: 200px;
	height: 35px;
	border-radius: 35px;
	border: 3px solid #F1FAEE;
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.button_blue_large2 a{
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.25px;
	text-transform: capitalize;
	color: #F1FAEE;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A8DADC;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #F1FAEE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #1D3557;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


@media screen and (max-width: 1400px){
	.header_main_container{
		width: 100%;
	}
}




* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}